
<!--  detail page -->
{% extends './base.html' %}
{% block content %}
    <div>
        <a class="btn btn-sm btn-primary mb-5" href="{% url 'index' %}">Back to index</a>
    </div>
    <h1>Equipment Detail</h1>
    <div class="m-3 ">
        <h3>{{ equipment.title }}: </h3>
        <p> {{ equipment.description }}</p>
    </div>
    <h2>Production data</h2>
    <p>{{ error }}</p>
    <form id="dateFilterForm" method="post" action="{% url 'detail' equipment.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <div class="input-group">
                <label for="startDate" class="input-group-text" >Start Date</label>
                <input type="date" id="startDate" name="start_date" class="form-control" value="{{ start_date }}">
                <label for="endDate" class="input-group-text">End Date</label>
                <input type="date" id="endDate" name="end_date" class="form-control" value="{{ end_date }}">
                <button type="submit" class="btn btn-secondary">Apply</button>
            </div>
        </div>
    </form>
    <canvas id="myChart" style="max-width: 800px;"></canvas>
    <!-- table -->
    <table class="table">
        <thead>
            <tr>
                <th>input description</th>
                <th>quantity</th>
                <th>created time</th>
            </tr>
        </thead>
        <tbody>
            {% for data in production reversed %}
                <tr>
                    <td>{{ data.input_desc }}</td>
                    <td>{{ data.quantity }}</td>
                    <td>{{ data.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var originalData = {
            labels: {{ created_at|safe }},
            data: {{ quantity }}
        };
        const ctx = document.getElementById('myChart');

        // var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: originalData.labels,
                datasets: [{
                    label: 'PPM',
                    data: originalData.data,
                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1,
                }]
            },
            options: {
      scales: {
        y: {
          beginAtZero: true,
          ticks: {
            stepSize: 1,
            callback: function(value, index, values) {
              return value + ' ppm';
            },
            
          }
        },
        x: {
            title: {
                display: true,
                text: 'Date'
            }

        }
        
      }
    }
        });

    </script>
    
{% endblock %}
```