
<!-- index page -->
{% extends './base.html' %}
{% load static %}
{% block content %}
    <h1>Equipments</h1>
    <ul class="list-group">
        {% for equipment in equipments %}
            <a class="link-underline link-underline-opacity-0" href="{% url 'detail' equipment.id %}">
                <li class="list-group-hover list-group-item d-flex justify-content-between align-items-center" >
                    {{ equipment }}
                    <span class="badge custom-bg-primary rounded-pill">
                        20
                    </span>
                </li>
            </a>
        {% endfor %}
    </ul>
    <!-- show data -->
    
    <div class="m-2">
        
        <small>message: {{ message }}</small>
        
    </div>
    <h1>QR codes</h1>
    <ul class="list-group">
            <a class="link-underline link-underline-opacity-0" href="{% url 'qrcode_detail' %}">
                <li class="list-group-hover list-group-item d-flex justify-content-between align-items-center" >
                    ID Website
                    <span class="badge custom-bg-primary rounded-pill">
                        {{ qrcode_count }}
                    </span>
                </li>
            </a>
    </ul>

{% endblock %}