{% extends './base.html'%}
{% load leaflet_tags %}
{% load static %}
{% block title %}QR Code Detail{% endblock %}
{% block content %}
    <!-- table showin qrcodes -->
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>QR Code</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for qr in qrcodes %}
                <tr>
                    <td>{{ qr.id }}</td>
                    <td>{{ qr.qrcode }}</td>
                    <td>{{ qr.longitude }}</td>
                    <td>{{ qr.latitude }}</td>
                    <td>{{ qr.created_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Map</h2>
    <div id="map" style="height: 500px;"></div>
    <script>
        var map = L.map('map').setView([37.0902, -95.7129], 4)

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        {% for qr in qrcodes %}
            L.marker([{{ qr.latitude }}, {{ qr.longitude }}])
                .bindPopup('{{ qr.qr_code }} - {{ qr.created_date }}')
                .addTo(map);
        {% endfor %}
    </script>

    {% endblock %}

    
