{% extends './base.html'%}
{% load leaflet_tags %}
{% load static %}
{% block title %}QR Code Detail{% endblock %}
{% block content %}


    <h2>Map</h2>
    <div id="map" style="height: 500px;"></div>
    <!-- table showin qrcodes -->
    <h2>Data locations</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>qrcode</th>
                <th>country_name</th>
                <th>state</th>
                <th>city</th>
                <th>postal</th>
                <th>created_date</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>{{ location.id }}</td>
                    <td>{{ location.qrcode }}</td>
                    <td>{{ location.country_name }}</td>
                    <td>{{ location.state }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.postal }}</td>
                    <td>{{ location.created_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <script>
        var map = L.map('map').setView([37.0902, -95.7129], 4); // Set the map center to the United States

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        var markers = L.markerClusterGroup(); // Create a marker cluster group

        {% for loc in locations %}
            var marker = L.marker([{{ loc.latitude }}, {{ loc.longitude }}])
                .bindPopup('{{ loc.qrcode }} - {{ loc.created_date }}');

            markers.addLayer(marker); // Add the marker to the cluster group
        {% endfor %}

        map.addLayer(markers); // Add the marker cluster group to the map
    </script>
    
    {% endblock %}

    
